doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    link(href='/stylesheets/attack25.css', rel='stylesheet')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/attack25.js')
    title ATTACK25方式抽選
  body
    #ribon
    header
      h1(align='center') ★景品抽選★
    .table(align='center')
    // class="gallery img"
    input#get(type='button')
    input#set(type='button')
    table#table.number(cellspacing='30')
      - for(var i=0; i < prizes.length; i++)
        tr
          for(var j=0; j < 8 && i * 8 + j < prize.length; j++)
			td
    table#table2.number
    // ポップアップ用
    #minikemuri
    #kemuri
    #popup-background
    #keihinimg
    #waku
      #title うまい棒
    // gifにしてみたい
    // <script type="text/javascript" src="photo.js"></script>
