<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charaset = "UTF-8">
    <title>ビンゴ画面</title>
    <link href="/stylesheets/bingocard.css" rel="stylesheet">
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bingocard.js"></script>
    
  </head>
  <body>
<table border=1 cellspacing="30" id="bingo"> 
 <tr id="mitame"><th>B</th><th>I</th><th>N</th><th>G</th><th>O</th></tr>
</table>
<table border=1 cellspacing="30" id="number"> 
 <tr><td class=aa>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
 <tr><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
 <tr><td>21</td><td>22</td><td id="free">FREE</td><td>24</td><td>25</td></tr>
 <tr><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td></tr>
 <tr><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
</table>
  </body>
</html>