<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charaset = "UTF-8">
    <title>ビンゴ画面</title>
    <link href="/stylesheets/bingocreate.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/bingocreate.js"></script> 
  </head>
  <body>
    <div id="settei" >
     <div id="settei2">
       <form>ビンゴの文字:<label><input type="radio" name="bingofont">あり</input> </label>
            <label><input type="radio" name="bingofont" >なし</input> </label>
<br>上部背景画像URL:<input type="file" id="bingofile" ></input>
<br>下部背景画像URL:<input type="file" id="file" ></input>
<br>フォント:<select id="font" onchange="changesize()">
      <option value="">選択してください</option>
      <option value="arial black">arial black</option>
      <option value="Impact">Impact</option>
      <option value="Verdana">Verdana</option>
      <option value="ＭＳ ゴシック">ＭＳ ゴシック</option>
      <option value="cursive">cursive</option>
      <option value="fantasy">fantasy</option>
      </select><br>文字サイズ:<select id="size">
           </select>
<br>文字色:<input type="color" name="color"></input>
<br>枠線:<label><input type="radio" name="waku" value="1" >あり</input> </label>
            <label><input type="radio" name="waku" value="2" >なし</input> </label>
<br>枠線色:<input type="color" name="waku"></input><br>
         <input type="button" value="変更" onclick="Check()"></input>
<a href="/manage">戻る</a>
       </form> 
</div>
</div>
    <div id="card_mitame">
      <table  width="580"  border=1 cellspacing="30" id="bingo"> 
        <tr id="mitame"><th>B</th><th>I</th><th>N</th><th>G</th><th>O</th></tr>
      </table>
      <table  width="580"  border=1 cellspacing="30" id="number"> 
        <tr><td class=aa>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
        <tr><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td></tr>
        <tr><td>21</td><td>22</td><td id="free">FREE</td><td>24</td><td>25</td></tr>
        <tr><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td></tr>
        <tr><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
      </table>
    </div>
</body>
</html>