extends layout

block content
  h1= title
  p Welcome to #{title}

  link(rel='stylesheet', href='/stylesheets/popup.css')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/guest.js')
  
  p.caution= error

  #rooms

  #layer
  #popup

  a(href="/login") ビンゴ設定はこちら
