<html>
<head>
<title>TAG index Webサイト</title>
<link href="/stylesheets/k.login2.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/k.login2.js"></script>
</head>

<body>
<header>
	<h1 id="letsbingo">Let's Bingo</h1>
</header>

<h2>ログイン画面</h2>
<br>
<form method="POST" name="form1" OnSubmit="return check()" action="/login">
<p id ="p1">ID：<input type="text" name="post1"id="tbox"maxlength="4" size="15">　　※半角数字４桁を入力</p>
<p id ="p2">PASSWORD:<input type="text" name="post2"id="tbox2" size="15">　　※半角英数字８桁を入力</p>
<p><input type="reset" name="reset" value="リセット" />　　<input type="submit" value="ログイン"></p>　
<a href="javascript: history.back()">戻る</a>

<h3>新規アカウント登録</h3>
<br>
<a href="新規作成画面のリンク">新規登録</a>

</form>

</body>
</html>