<!DOCTYPE html>
<html lang = "ja" />
  <head>
    <meta charset = "utf-8" />
    <title>景品情報</title>
    <script type="text/javascript" src="/javascripts/keihin_tl.js"></script>
    <link rel="stylesheet" href="/stylesheets/keihin_joho.css">
  </head>
  <body>
    <div id="wrapper">
    <h1>Let's BINGO</h1>
    <table border="0"><tr>
      <th><input type="button" value="追加"onclick="AddTable();">
      <th><form method="post" action="insert"><input type="button" value="登録"></form></th>
      <th><input type="button" value="リセット" onclick="sakuzyo()"></th>
    </tr></table>
    <table border="1" cellspacing="0" cellpadding="4" id="keihin">
    <tr><th>景品名</th><th>景品の個数</th><th>画像アドレス</th><th>備考</th><th>優先度</th></tr>
    <tbody id="tb"><tr id="tr1"><td class="name"><input type="text" name="name0"value="" size="10" maxlength=20"></td>
        <td class="kazu"><input type="number" name="kazu0" min="0" max="500" value="0" step="1" required></td>
        <td class="pic"><input type="file" name="pic0"></td>
        <td class="biko"><input type="text" name="biko0"value="" size="10" maxlength="255"></td>
        <td class="pri"><input type="number" name="pri0"min="0" max="20" value="0" step="1" required></td>
        <td class="dl"><input type="button" name="dl0"value="削除"onclick="deleteRow(this)"></td>
    </tr></tbody>
    </table>
    <form method="get" action="/manage"><input type="submit"value="戻る"></form>
  </div>
  </body>
</html>