extends layout

block content
  h1 管理者用Login
  p.caution= error
  form(method='POST',action='/login/login_admin')
    p: input(type='text', name='productName', placeholder='productName')
    p: input(type='password', name='password', placeholder='password')
    p: input(type='submit',value='Login')
  a(href="/login") 参加者用
