<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>スーパーマリパくじ</title>
    <script type="text/javascript" src="mario.js"></script>
  </head>
  <body>
    <h1>景品抽選（デモ)</h1>
    <input type="button" id="mario" value="番号抽選" onclick="bangoTyusen(this)">
    <input type="button" id="luigi" value="景品の抽選" onclick="keihinTyusen()">
    <p>当選番号は</p>
    <div id="randomInt"></div>
    <p>です！</p>
    <p>次に当たる景品は</p>
    <div id="tyusenkeihin"></div>
    <p>でござる</p>
  </body>
</html>