<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
    <title>新規作成画面</title>
    <link href="/stylesheets/screen.css"rel="stylesheet">
    <script type="text/javascript" src="/javascripts/formcheck.js"></script>
</head>
<body onload="fieldChanged();">
    <div id="waku2"><br><br><br><br><br>
    <header>
    <h1 id="letsbingo">Let's Bingo!</h1>
    </header>
    <h2>新規登録</h2><br>
    <form = method="POST"action="/administrator/signup"><!--actionの中にURLを記入-->
    <p>Room Name：<input type="text"placeholder="Bingoをする部屋の名前"name="name"size="22"maxlength="20"id="room"onkeyup="fieldChanged()";onchange="fieldChanged()";>　　　　　　　　　　　　　　　　<br></p>
    <p>&nbsp;PASSWORD：<input type="password"placeholder="Password"name="password"size="22"maxlength="12"id="password"onkeyup="fieldChanged()";onchange="fieldChanged()";>　　※半角英数字８～１２桁を入力</p>
    <br>
    <input type="button"value="リセット"onclick="location.reload()", style='margin-right: 50px;'>
    <input type="submit"value="登録"id="login">
    <br>
    <p><a href="./"class="home">戻る</a></p><!--a hrefの中にURLを記入-->
    </form>
    </div>
</body>
</html>