body{
 background-color:#ffe3ef;
}
td{				
 border-top-left-radius: 50px;
 border-top-right-radius: 50px;
 width: 50px;
 height: 75px;
 //background-color:#FFFFFF;
 text-align:center;
 border: 1px #000000 solid;
 font-size: 60px;
}

th{			
 font-size:70px;
 text-align:center;
 width: 50px;
 height: 70px;
 border: 0px #ff0000 solid;
}

#free{			
 font-size:20px;
 //background-color:#000000;
}

#bingo{				
 background-color:#FFcc44;
 background-size: cover;
 //width: 40vw;
 border-top-left-radius: 40px;
 border-top-right-radius: 40px;
 margin-left:auto;margin-right:auto;
 border-bottom-style:none;
 margin-top:100px;
 margin-right:160px;
}

#number{			
 background-color:#FFFFFF;
 background-size: cover;
 //width: 40vw;
 height: 20vh;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 margin-left:auto;margin-right:auto;
 border-top-style:none;
 margin-right:160px;
}

#mitame{ 
 text-shadow:
  0px 1px 0px #0092b3,  
  0px 2px 0px #0087a6,
  0px 3px 0px #008099,
  0px 4px 0px #00758c,
  0px 5px 0px #555,
  0px 6px 0px #006a80,
  0px 0px 0px #006073,
  0px 8px 7px #005566;
 font-size:100px;
}

#settei{
  float:left;
  width:30vw;
  height:99vh;

  margin:auto;
}

#card_mitame{
  float:left;
  width:60vw;
  height:99vh;
  margin:auto;
}
#settei2{
  width:30vw;
  height:50vh;
  margin-top:20vh;
  margin-left:20vh;
  margin-right:auto;
  background-image:url(image/d7f4f963dfefe2af333f45938c74589b_w.jpg);
  background-size: cover;
}
form{
 font-size: 20px;
 padding-top: 6vw;
 padding-left: 5vw;
}