@charset "utf-8";
@import url("style.css");
#home1{
	font-size:280%;
	text-align:center;
}
#home2{
	text-align:center;
	font-size:200%;
}
#home3{
	height:150px;
	margin:10px;
	padding-top:100px;
}
#home4{
	width:150px;
	float:left;
}
nav{
	width:150px;
	float:right;
}
.home5{
	text-align:center;
	font-size:120%;
	text-align:right;
	padding:10px 12px;
	float:right;
	background:#fc0;
	border-radius: 5px;
	border-bottom: solid 3px #627295;
}
.home5:active{
	-ms-transform: translateY(3px);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	border-bottom:none;
}
.home6{
	text-align:center;
	font-size:120%;
	text-align:right;
	padding:10px 36px;
	float:right;
	background:#0bf;
	border-radius: 5px;
	border-bottom: solid 3px #627295;
	text-decoration:none;
}
.home6:active{
	-ms-transform: translateY(3px);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	border-bottom:none;
}
body{
    width: 600px;
    margin: 50px auto;
    height:300px;
}