th{
font-size: 0px;
}td.kazu{
color: #bfc9ff;
font-size: 70px;
-webkit-text-stroke: 2px #000000;
}
#bingo{
background-image: url("/projects/5576/%E3%81%84%E3%81%A5%E3%81%AA.jpg");
}
#number{
background-image: url("/projects/5576/WUNEc.jpg");
}
