doctype html
html(lang='ja')
  head
    meta(charaset='UTF-8')
    title ビンゴ画面
    link(href='/stylesheets/smartcard.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/keihin.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.9.0.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/bingocard.js')
  body
    #card.tab
      #cardtop
        p.cardtiltle ビンゴカード
        //i.fa.fa-sign-out
        a.fa.fa-sign-out(href='/logout')
          p.icon ログアウト
      table#bingo(border='1', cellspacing='30')
        tr#mitame
          th B
          th I
          th N
          th G
          th O
      #reachgif
      #bingogif
      table#number(border='1', cellspacing='30')
        tr
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
        tr
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
        tr
          td.kazu
            span
          td.kazu
            span
          td#free.kazu
            span FREE
          td.kazu
            span
          td.kazu
            span
        tr
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
        tr
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
          td.kazu
            span
    #keihin.tab
      #cardtop 景品
      div
        .gallery
          each prize in prizes
            a.popupimg(href= prize.picture_url)
              img(src= prize.picture_url)
              .hide(style='display:none')= prize.prize_id
    #popup-background
      #popheader 景品情報
      #syousai
        table#syousaitable
          tr
            td#to(colspan='2')
          tr
            td#kei 景品名
            td#keihinname
          tr
            td#kosuu 個数・量
            td#kazu
          tr
            td#setu(colspan='2') 説明・備考
          tr
            td#setumei(colspan='2')
      #popfooter 戻る
    script(type='text/javascript', src='/javascripts/popup.js')
    script(type='text/javascript').
      <!--
      ChangeTab('card');
      -->
    #footer
      #cardtag
        i.fa.fa-th
        a.card(href='#card', onclick="ChangeTab('card'); return false") カード
        p カード
      #keihintag
        i.fa.fa-gift
        a.keihin(href='#keihin', onclick="ChangeTab('keihin'); return false") 景品
        p 景品
    link(href= style_url, rel='stylesheet')
