extends layout

block content
  h1= title
  p Welcome to #{title}
  
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/bingomain.js')
  
  p#roomId= roomid
  button#startButton(type='button', onclick='bingoStart()') ビンゴスタート
  
  div
    p 現在のビンゴ人数：
      span#bingoNum 0
    
    form(action='/bingo/lottery', method='GET')
      p 景品の数：
        span#capacity
        |＋
        input#addPrize(type='number', name='addPrize', min='0', placeholder='追加分', value='0')
      p
        button#lotteryStart(type='button', disabled) 景品抽選に進む
  #numbers
  #recieve
  
  p: a(href="/logout") Logout
  p: a(href="/bingo/roulette" target="_blank") スクリーン用の画面を表示
  button(type='button', onclick='screenChange()') スクリーン画面切り替え
