<!DOCTYPE html>
<html lang="ja">
<head>
<meta charaset="UTF-8"/>
<title>じゃんけん画面(運営用)</title>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/javascripts/janken_pc.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/janken_pc.css">
</head>
<body class="bg">

<h1>★じゃんけん選択画面★</h1>
<p id="message">しばらくお待ちください。</p>
<div id="nokori"><p id="nin">確定人数/景品数</p><p id="nin2">0</p><p id="nin3">／</p><p id="nin4">0</p></div>
<input type="button" id="gu_btn" class="btn" value="グー" onclick="te_select(this)"/>
<input type="button" id="ch_btn" class="btn" value="チョキ" onclick="te_select(this)"/>
<input type="button" id="pa_btn" class="btn" value="パー" onclick="te_select(this)"/>

<div id="hyoji_te"></div>
<br>
<input type="button" id="next" value="景品抽選へ進む" disabled onclick="next()">
</body>
</html>