<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>景品抽選大画面</title>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/javascripts/lottery_sc.js"></script>
      <link href="/stylesheets/katoP_sc.css" rel="stylesheet" />
  </head>
  <body>
    <div id="left">
      <img id="prizeimg" src="/images/background.png" width="600px" height="400px"/>
      <p id="namae">景品名</p>
    </div>
    <div id="right">
      <p id="perfectNumber">当選番号<br>
      <span id="number">?</span></p>
    </div>
  </body>
</html>