<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Let's BINGO管理者用ページ</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/manage.css" rel="stylesheet">
  </head>
  <body>
   <div id="hako">
    <header>
      <div class="midashi">
         <h1><span id="b">設</span><span id="i">定</span><span id="n">メ</span><span id="g">二</span><span id="o">ュ</span><span id="ll">ー</span></h1>
      </div>
    </header>
       
    <table id="menu"><tr>
      <td><p><a class="joho" href="prize/info">景品登録</a></p></td>
        <td><p><a class="look" href="prize/show">景品閲覧</a><p></td></tr>
      <tr><td><p><a class="bingo_c" href="card/config">ビンゴカード作成</a></p></td>
        <td><p><a class="look2" href="other/config">その他設定</a></p></td>
    </tr></table>
    <input type="button" onclick="location.href='../'" class="btn1" value="ホーム">
    </div>
  </body>
</html>
