<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charaset = "UTF-8"/>
    <title>ビンゴした人</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/rank_display.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rank_display.css">
  </head>
  <body class="bg">
    
    <table class="b_table" cellpadding="0" cellspacing="0">
        <tr>
        <th class="th_number">番号</th><th class="th_name">当選者名</th>
        </tr>
    </table>
    <table class="b1_table" cellpadding="0" cellspacing="0">
        <tr>
        <th class="th_number">番号</th><th class="th_name">当選者名</th>
        </tr>
    </table>
<audio hidden name="media" preload="auto" id="media_player" >
    <source src="/sounds/mazuha.mp3" type="audio/mp3" ><!-- BGM素材28　まずはここから -->
</audio>
</body>
</html>
<!--<th>番号</th><th>ビンゴ者名</th><td></td><td></td>
<tr><td class="b_number1"></td><td class="b_name1"></td></tr>
<td></td><td></td>-->