<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>景品抽選大画面</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
      <script type="text/javascript" src="/javascripts/lottery_sc.js"></script>
      <link href="/stylesheets/katoP_sc.css" rel="stylesheet" />
  </head>
  <body class="bg">
    <table class="lottery1" cellpadding="0" cellspacing="0">
        <tr>
            <td class="keihin_pic">
            <img src="/images/sumaho.png" id="sumaho">
            <div id="title" ><p id="titlename" >景品名</p></div>
            <img src="/images/background.png" class="image" id="img1">
            <img src="/images/background.png" class="image" id="img2">
            </td>
        </tr>
    </table>
    <table class="lottery2" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tyusen_name">抽選番号</td>
        </tr>
        <tr>
            <td class="tyusen_num"><b id="tyusen_num">?</b></td>
        </tr>
    </table>
  </body>
</html>