doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title 設定画面
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/その他設定画面.css', rel='stylesheet')
  body
    #hako
      header
        h1
          span#so そ
          span#no の
          span#ta 他
          span#se 設
          span#te 定
          span#ga 画
          span#me 面
      form(action='/other/submit', method='post')
        #settei
          // 中に設定項目追加
          p.pre
            | ・景品抽選
            label
              input.size(type='radio', name='or', value='0', checked=(0 == lottery_id))
              | なし
            label
              input.size(type='radio', name='or', value='1', checked=(1 == lottery_id))
              | デフォルト
            label
              input.size(type='radio', name='or', value='2', checked=(2 == lottery_id))
              | アタック25
        #syoki
          p#del
            | ルームの削除
            // ビンゴの設定を全て削除する
          p.del
            | ビンゴを終了した場合実行してください。
            // 現在の設定を破棄して、初期設定に戻しますか？
          .reset
            input.btn0(type='button', name='config', value='削除する', onclick='deleteRoom()')
        .home
          p.ho
            input.btn1(type='submit', name='home', value='戻る')
    script(type='text/javascript', src='/javascripts/その他設定画面.js')
