doctype html
html
  head
    meta(charset='UTF-8')
    title 玉
    link(href='/stylesheets/ルーレットロゴ.css', rel='stylesheet')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.9.0.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    #soto
      #rogo
      #uti
        #uti2
          #uti3
            p 1
      .bingo_nin
        span.box-title ビンゴ者数
        p#bingosya 0
        p#nin 人
    #box2
      table#sample1_table(style='text-align: center;')
    #popup-background
    p.popup-roomname
      | 部屋名:
      = roomname
    p.popup-roomid
      | ルームID:
      = roomid
    audio#media_player(hidden name="media", preload="auto", loop)
      source(src="/sounds/tympani-roll1.mp3" type="audio/mp3")
    audio#media_player1(hidden name="media", preload="auto")
      source(src="/sounds/drum-japanese2.mp3", type="audio/mp3")
    script(type='text/javascript', src='/javascripts/tamamove.js')
