doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title 新規作成画面
    link(href='/stylesheets/screen.css', rel='stylesheet')
    script(type='text/javascript', src='/javascripts/formcheck.js')
  body(onload='fieldChanged();')
    #waku2
      br
      br
      br
      br
      br
      header
        h1#letsbingo Let's Bingo!
      h2 新規登録
      p= error
      br
      form(method='POST', action='/administrator/signup')
        #waku3
          p.iti
            | Room Name：
            input#room(type='text', placeholder='Bingoをする部屋の名前', name='name', size='17', maxlength='12', onkeyup='fieldChanged()', onchange='fieldChanged()')
          p.iti
            | PASSWORD：
            input#password(type='password', name='password', size='17', maxlength='12', onkeyup='fieldChanged()', onchange='fieldChanged()')
            | 　　※半角英数字８～１２桁を入力
        br
        input(type='reset', value='リセット', style='margin-right: 60px;')
        input#login(type='submit', value='登録')
        br
        p
          a.home(href='./') 戻る
