<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link href="/stylesheets/attack25.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>ATTACK25方式抽選</title>
  </head>
  <body>
    <div id="center"></div>
    <div id="ribon">
    <header>
      <h1 align="center">★景品抽選★</h1>
    </header>
    </div>
    <div align="center" class="table"></div>
    <!-- class="gallery img"-->
    <input id="startButton" type="button" value="抽選開始" disabled>
    <a href="/bingo/attack25screen" target="_blank">スクリーン用の画面を表示</a>
    <table id="table" cellspacing="30" class="number">
    </table>
    <table id="table2" class="number"></table>
    <!-- ポップアップ用-->
    <div id="minikemuri"></div>
    <div id="kemuri"></div>
    <div id="popup-background"></div>
    <div id="keihinimg"></div>
    <div id="waku">
      <div id="title">※画像をクリックで次へ</div>
    </div>
    <!-- gifにしてみたい-->
    <!-- <script type="text/javascript" src="photo.js"></script>-->
    <script type="text/javascript" src="/javascripts/attack25_controller.js"></script>
  </body>
</html>