@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Crete+Round');

body{
	margin:0px;
}

#popup-background{
	position: fixed;
	right: 0;
	height: 100%;
	width: 100%;
	background-image:url("/images/sky.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

#popup-td3{	
    font-family: 'Crete Round', serif;
    margin: 0;
    text-align: center;
    font-size: 321px;
    font-weight: bold;
    color: #F00;
}

#p{
    margin-top: -17px;
    font-size: 154px;
    text-align: center;
    font-weight: bold;
}
    
#name{
    background-image: url(/images/richwaku.png);
    background-size: 100% 100%;
    font-size: 91px;
    padding-left: 72px;
    padding-right: 64px;
    padding-bottom: 35px;
    padding-top: 71px;
    max-width: 100%;
    text-align: center;
    display: inherit;
}

#number_info{
    font-size: 154px;
    text-align: center;
    -webkit-text-stroke: 4px white;
}

#num {
    font-size: 170px;
}
