#layer {
    display: none;
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.20;
}
#popup {
    display: none;
    position: fixed; 
    left: 10%;
    top: 30%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}