h1 {
    font-size: 90px
}
img {
    width: 800px;
    height: 500px;
}
body {
    text-align: center;
    margin: 0;
    background: url(/images/egg_yellow.png);

}
#bangohyoji {
    margin-top: 0;
    font-size: 70px
}
#bangohyoji span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 80px;
}
#keihinhyoji p{
    font-size: 50px;
    margin: 1px;
}
p {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
b {
    font-size: 110px;
    font-weight: bold;
}
