header {
	color: #66CDAA;
	padding: 0.2em 0.5em;
	background: linear-gradient(to right, #f1ec3f, #e0ffff00);
	font-weight: lighter;
}
#so{
color: Crimson;
}
#no{
color: Aqua;
}
#ta{
color: Chartreuse;
}
#se{
color: Gold;
}
#te{
color: VIolet;
}
#ga{
color: VIolet;
}
#me{
color: MediumBlue;
}
#hako{
	height:800px;
	top:70px;
}
#settei{
	padding-top:30px;
	padding-bottom:20px;
}
#syoki{
	background-color:#66CDAA;
	width:800px;
	height:250px;
	margin:auto;
	border-radius: 3px;
	box-shadow: -0px 10px 30px rgba(1,1,1,1.1);
}

h1{
	font-size:60px;
	text-align:center;
}

.pre{
	font-size:30px;
	text-align:center;
	margin:20px;
}

.cha{
	padding-left:0px;
	padding-top:0px;
}

input.size{
	width:28px;
	height:28px;
}

#del{
	font-size:30px;
	text-align:center;
	margin:0px;
	padding-top:30px;
	color:red;
}

.del{
	font-size:30px;
	text-align:center;
	margin:0px;
}

.reset{
	padding-top:20px;
	text-align:center;
}

.home{
	font-size:30px;
	text-align:center;
	margin:0px;
	padding-top:20px;
}

.ho{
	margin:0px;
	margin-top:30px;
}

.btn{
	font-weight:bolder;
	font-size:25px;
	text-align:center;
	outline:none;
	padding:6px 14px;
	background: #668ad8; color: #FFF;
	border-radius: 10px;
	border-bottom: solid 3px #627295;
	text-decoration: none;
}

.btn:active {
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.btn0{		/*初期化ボタン用*/
	font-weight:bolder;
	font-size:25px;
	text-align:right;
	outline:none;
	padding:6px 14px;
	background: #f00; color: #FFF;
	border-radius: 10px;
	border-bottom: solid 3px #627295;
	text-decoration: none;
}
.btn0:active {
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.btn1{
    font-size: 20px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #333;
    width: 160px;
    height: 60px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#9f9 0%, #9f9 100%);
    background-image: linear-gradient(#9f9 0%, #9f9 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
