@charset "utf-8";

.midashi {
	background: linear-gradient(to right, #ffff6f78, #ffffff36);
}

table {
	text-align: center;
	margin-left: 0%;
	width: 85%;
	table-layout: fixed;
	position:relative;
	 left:60px;
}
	
td {
	float:center;
	vertical-align: middle;
}
tr {
	position:relative;
	left:2px;
	vertical-align: middle;
}
.s_bingo{
	display: inline-block;
	padding: 10em 1em;
	text-decoration: none;
	border: dashed 1px #67c5ff;
	background: #F0FFF0;
	border-radius: 3px;
	transition: .4s;
	width: 265px;
	font-size: 150%;
	position: relative;
}
.s_bingo:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  text-decoration: none;
  color: #DDA0DD;
}

.s_bingo:hover {
	background: #90EE90;
	color: #FFF;
}
.settei {
	display: inline-block;
	padding: 10em 1em;
	text-decoration: none;
	color: #00FFFF;
	border: dashed 1px #D8BFD8;
	background: #FFF0F5;
	border-radius: 3px;
	transition: .4s;
	width:265px;
	font-size: 150%;
	position: relative;
}
.settei:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);   	
}
.logout{
    left: 936px;
    bottom: 23px;
    font-size: 20px;
    position: fixed;
    text-decoration: none;
    color: #333;
    width: 128px;
    height: 46px;
    line-height: 50px;
    border-radius: 5px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#9cd3ff 0%, #9cd3ff 100%);
    background-image: linear-gradient(#9cd3ff 0%, #9cd3ff 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 4px 3px rgb(66, 59, 59);
}
.settei:hover {
	background: #F08080;
	color: #FFF;
}

